* {
    margin: 0;
    padding: 0;
}

.schedule-page {
    display: flex;
    flex-direction: row;
    background: #9fbfcc;
}

.input-section {
    background: tan;
    width: 100%;

    &__elements {
        padding: 10px;
    }

    &__inputs {
        border: none;
        background: none;
        border-bottom: 1px solid black;
        // border-radius: 6px;
        margin: 0.2em;
        &:hover {
            background: burlywood;
            transition: all 0.2s;
        }
    }

    &__time-inputs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 0.5em;
    }

    &__class-input {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 0.5em;
        input {
            flex: 1;
        }
    }
    &__check-submit {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 0.5em;
    }

    .courseList {
        background: orange;
    }


}