#updateCal {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
}

.e-schedule .e-vertical-view .e-work-cells {
    background-color: #EEF;
}

.schedule-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: red;
    height: 10vh;
}

.schedule-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: red;
}

.schedule-nav button {
    padding: 10px;
    margin: 10px;
}